/* O z-index do div#mask deve ser menor que do div#boxes e do div.window */

#mask {
    position: absolute;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#boxes .window {
    position: absolute;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
}

.playlist-film img {
    height: 80px;
}

#boxes #dialog {
    width: 375px;
    height: 203px;
}


/* posiciona o link para fechar a janela */

.close {
    display: block;
    text-align: right;
}