@media screen and (max-width: 472px) {
    header .container nav {
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    header .container {
        flex-direction: column;
    }
    header .container nav {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1245px) {
    .btn-container .btn {
        margin-top: 10px;
        width: 250px;
    }
    .container .film-logo {
        height: 100px;
    }
}